.App {
  text-align: center;
}


.sliderview {
  position: absolute;
  color: white;
  width: 1400px;
  left: 140%;
  height: 100px;
  top: 10%;
}

.slick-slide > div {
  margin: 0 5px ;
}
.slick-list {
  margin: 0 -5px;
}

.card {
  border: 1px solid white; 
  height:450px;
  overflow: hidden;
  background-color: black;
}


.card-top  {
  text-align: left;
  padding: 5px;
  
}

.card-bottom  {
  text-align: center;
  font-size: xx-small;
  background-color: black;
  border-radius: 10px;
}


.header {
  padding: 0px;
  text-align: left;
  background: black;
  color: white;
  font-size: 20px;
  position: absolute;
  font-family: Menlo;
  height: 300px;
  left: 4.2%;
  top: 66%;
  position: fixed;
  animation: 1s ease-out 0s 1 slideInFromBottom;
}

.header h1,
    .header h2 {
      display: inline;
    }


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
